{% extends 'frontBase.html.twig' %}
{% block title %}shop{% endblock %}

{% block content %}


<!-- banner-section start -->
<section id="banner-section" class="inner-banner profile features shop">
    <div class="ani-img">
        <img class="img-1" src="{{asset('front/images/banner-circle-1.png')}}" alt="icon">
        <img class="img-2" src="{{asset('front/images/banner-circle-2.png')}}" alt="icon">
        <img class="img-3" src="{{asset('front/images/banner-circle-2.png')}}" alt="icon">
    </div>
    <div class="banner-content d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main-content">
                        <h1>Shop</h1>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb d-flex justify-content-center">
                                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">My WishList</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->



 <!-- Featured Products Start -->
 <section id="featured-products" class="pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 d-flex align-items-center">
                <div class="section-header text-center">
                    <h2 class="title">Products You Liked</h2>
                    <p>Our goal is to deliver high quality gaming apparel and help grow the gaming community!</p>
                </div>
            </div>
        </div>
        <div class="row cus-m">
            {% for product in productList %}
           
            <div class="col-lg-4 col-md-6">
                
                <div class="single-item"> 
                    <a href="{{path('productsdetailProduct',{ id:product['product'].getId() })}}">
                    <span class="new">New</span>
                    <div class="img-area text-center">
                        {% set images = product['product'].image| trim('*') | split("*") %}
                        <img src="{{asset('shop/images/'~images[0])}}" alt="image" width="90%">
                    </div>
                    <div class="bottom-item text-center">
                        <div style="display: flex;justify-content:space-around;">
                        <a href="shop-details.html" ><h6>{{ product['product'].getNameProduct() }}</h6></a>
                        <a href="#"><i class="fas fa-heart"></i></a></div>
                        <p class="text-sm">{{ product['product'].getCategory()}}</p>
                          
                        <div class="bottom-area d-flex align-items-center justify-content-between">
                            <h5>{{ product['product'].getPrice() }} COINS</h5>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        
            {% endfor %} 
           
        </div>
    </div>
</section>
<!-- Featured Products End -->





{% endblock %}