{% extends 'authBase.html.twig' %}

{% block title %}Log in{% endblock %}

{% block auth %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-area">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">
                    {% if error.message == 'Username is already registered!' or error.message == 'Email is already registered!' or error.message == "This account is locked!" %}
                        {{ error.message }}
                    {% else %}
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    {% endif %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       autocomplete="username" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="checkbox mb-3"
                 style="width: min-content;display: flex;justify-content: center;align-items: center;">
                <input type="checkbox" name="_remember_me" style="width: 15px;height:15px;">
                <label style="width: max-content;margin-left: 10px;margin-bottom: 0;font-size: 17px;">Remember
                    me </label>
            </div>
            <div class="form-group">
                <button class="cmn-btn" type="submit">
                    Sign in
                </button>
            </div>
        </form>
    </div>
    <div class="or">
        <p>OR</p>
    </div>
    <div class="sign-in">
        <p>Sign in with your</p>
    </div>
    <div class="reg-with">
        <div class="social-area d-flex justify-content-center">
            <a style="background-color: #4d4d4d;padding-left: 2px;" href="{{ path('connect_github') }}"><i class="fab fa-github" style="font-size: 25px;"></i></a>
            {# <a class="twitch" href="javascript:void(0)"><img src="images/social-icon-2.png" alt="image"></a> #}
            <a class="google" href="{{ path('connect_google') }}"><img src="{{ asset('front/images/social-icon-3.png') }}" alt="image"></a>
        </div>
    </div>
{% endblock %}

{% block otherAuth %}
    <div style="display: flex;flex-direction: column;">
        <p style="font-size: 17px;margin: 10px">Don't have an account?
            <a style="font-size: 17px;" href="{{ path("register") }}">Sign Up</a>
        </p>
        <p style="font-size: 17px;">Forgot Password?
            <a style="font-size: 17px;" href="{{ path('app_forgot_password_request') }}">Reset It</a>
        </p>
    </div>
{% endblock %}
