{% extends 'authBase.html.twig ' %}

{% block title %}Sign Up{% endblock %}

{% block auth %}
    <h4>Let's get started</h4>
    <div class="form-area">
        {% if signupForm is defined %}
            {{ form_start(signupForm) }}
            <div class="form-group">
                {{ form_label(signupForm.username) }}
                {{ form_widget(signupForm.username) }}
            </div>
            <div class="form-group">
                {{ form_label(signupForm.email) }}
                {{ form_widget(signupForm.email) }}
            </div>
{#            <div class="form-group">#}
{#                {{ form_label(signupForm.name) }}#}
{#                {{ form_widget(signupForm.name) }}#}
{#                <div class="error-div">#}
{#                    {{ form_errors(signupForm.name) }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form_label(signupForm.secondName) }}#}
{#                {{ form_widget(signupForm.secondName) }}#}
{#                <div class="error-div">#}
{#                    {{ form_errors(signupForm.secondName) }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form_label(signupForm.birthDate) }}#}
{#                {{ form_widget(signupForm.birthDate) }}#}
{#                <div class="error-div">#}
{#                    {{ form_errors(signupForm.birthDate) }}#}
{#                </div>#}
{#            </div>#}
            <div class="form-group">
                {{ form_label(signupForm.password.first) }}
                {{ form_widget(signupForm.password.first) }}
                <div class="error-div">
                    {{ form_errors(signupForm.password.first) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(signupForm.password.second) }}
                {{ form_widget(signupForm.password.second) }}
            </div>
            <div class="form-group">
                {# <button type="submit" class="cmn-btn">Sign Up Free</button> #}
                {{ form_row(signupForm.SignUp) }}
            </div>
            {{ form_end(signupForm) }}
        {% endif %}
    </div>
{% endblock %}

{% block otherAuth %}
    <p>Already have an account? <a href="{{ path("app_login") }}">Sign In</a></p>
{% endblock %}