{% extends 'authBase.html.twig ' %}

{% block title %}Sign Up{% endblock %}
{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">
{% endblock %}
{% block auth %}
    <h4>Let's get started</h4>
    <div class="form-area">
        {% if signupForm is defined %}
            {{ form_start(signupForm,{'attr':{'novalidate':'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(signupForm.username) }}
                {{ form_widget(signupForm.username) }}
                <div class="error-div">
                    {{ form_errors(signupForm.username) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(signupForm.email) }}
                {{ form_widget(signupForm.email) }}
                <div class="error-div">
                    {{ form_errors(signupForm.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(signupForm.password.first) }}
                {{ form_widget(signupForm.password.first) }}
                <div class="error-div">
                    {{ form_errors(signupForm.password.first) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(signupForm.password.second) }}
                {{ form_widget(signupForm.password.second) }}
            </div>
            {% if error is defined %}
                <p style="color: #ff8c8c;margin-bottom: 10px">
                    {{ error }}
                </p>
            {% endif %}
            <div class="form-group">
                {{ form_row(signupForm.SignUp) }}
            </div>
            {{ form_end(signupForm) }}
        {% endif %}
    </div>
{% endblock %}

{% block otherAuth %}
    <p>Already have an account? <a href="{{ path("app_login") }}">Sign In</a></p>
{% endblock %}