{% extends 'backBase.html.twig' %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <style>
        .livreur-container {
                    height: 80vh;
                    width: 100%;
        }
    </style>
{% endblock %}
{% block title %}Livraison index{% endblock %}


{% block content %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress</th>
                <th>Ville</th>
                <th>Code_postal</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.adress }}</td>
                <td>{{ livraison.ville }}</td>
                <td>{{ livraison.codePostal }}</td>
                <td>{{ livraison.etat }}</td>
                <td>
                    <a href="{{ path('livraison_show', {'id': livraison.id}) }}">show</a>
                    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}">Create new</a>
{% endblock %}
