{% extends 'backBase.html.twig' %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <style>
        .livreur-container {
                    height: 80vh;
                    width: 100%;
        }
    </style>
{% endblock %}
{% block title %}Livreur index{% endblock %}


{% block content %}
    <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
        <h1>Livreur index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Cin</th>
                    <th>Salaire</th>
                    <th>Zone_geographique</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for livreur in livreurs %}
                <tr>
                    <td>{{ livreur.id }}</td>
                    <td>{{ livreur.nom }}</td>
                    <td>{{ livreur.prenom }}</td>
                    <td>{{ livreur.cin }}</td>
                    <td>{{ livreur.salaire }}</td>
                    <td>{{ livreur.zoneGeographique }}</td>
                    <td>
                        <a href="{{ path('livreur_show', {'id': livreur.id}) }}">show</a>
                        <a href="{{ path('livreur_edit', {'id': livreur.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('livreur_new') }}">Create new</a>
    </div>
    <div>
       <button><a href="{{ path('livraison_index')}}">Deliveries</a></button>
    </div>  
{% endblock %}
