{% extends 'backBase.html.twig' %}
{% block title %}Delivery man{% endblock %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">{% endblock %}
{% block content %}
    <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
        <div class="x_panel">
            <div class="x_title">
                <h2>Delivery man</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Cin</th>
                                    <th>Salaire</th>
                                    <th>Zone_geographique</th>
                                    <th>actions</th>                                  
                                </tr>
                                </thead>
                                <tbody>
                                {% if(livreurs is not null) %}
                                    {% for livreur in livreurs %}
                                        <tr>
                                                <td>{{ livreur.id }}</td>
                                                <td>{{ livreur.nom }}</td>
                                                <td>{{ livreur.prenom }}</td>
                                                <td>{{ livreur.cin }}</td>
                                                <td>{{ livreur.salaire }}</td>
                                                <td>{{ livreur.zoneGeographique }}</td>
                                                <td>
                                                    
                                                    <a href="{{ path('livreur_edit', {'id': livreur.id}) }}"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{ path('livreur_delete', {'id': livreur.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                            <a href="{{ path('livreur_new') }}"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

