{% extends 'backBase.html.twig' %}
{% block title %}Categories{% endblock %}
{% block content %}
<!-- page content -->
<br>

<div class="col-md-12 col-sm-12 " style="width: fit-co;">
    <div class="x_panel">

        <h2>Category Form </h2>
        <div class="x_title"></div>

        <div>
            <div class="x_content">
                {{ form_start(formCategory,{'attr': {'novalidate': 'novalidate'}} ) }}


                <form class="form-horizontal">

                    <div class="item form-group">


                        <label class="col-form-label
                                   col-md-3 col-sm-3 label-align">{{ form_label (formCategory.nameCategory,"Category
                            Name") }}</label>

                        {{ form_widget (formCategory.nameCategory,{'attr':{'class':'col-md-6 col-sm-6
                        form-control'}}) }}

                    </div>
                    <div style="margin-left:25% ;color:red;">
                        {{ form_errors (formCategory.nameCategory) }}
                    </div>
                    <div class="item form-group">

                        <label class="col-form-label
                                   col-md-3 col-sm-3 label-align">{{ form_label
                            (formCategory.Description,"Description")
                            }}</label>
                        {{ form_widget (formCategory.Description,{'attr':{'class':'col-md-6 col-sm-6
                        form-control'}}) }}


                    </div>
                    <div style="margin-left:25% ;color:red;">
                        {{ form_errors (formCategory.Description) }}
                    </div>
                    <div class="item form-group">


                        <label class="col-form-label
                        col-md-3 col-sm-3 label-align">{{ form_label(formCategory.image,"Image") }}</label>
                       
                            {{ form_widget (formCategory.image,{'attr':{'class':'col-md-6 col-sm-6
                            form-control'}}) }}
                        


                    </div>
                    <div style="margin-left:25% ;color:red;">{{ form_errors (formCategory.image) }} </div>
                    <div style="display: none;">
                        {{ form_row (formCategory.creationDate )}}
                        {{ form_row (formCategory.modificationDate )}}
                        {{ form_row (formCategory.isEnabled )}}
                    </div>

                    <div class="item form-group" style="margin-left: 58%;">
                        <a href="{{path('categorycancel')}}"><button class="btn btn-primary"
                                type="button">Cancel</button></a>
                        {{ form_row (formCategory.submit,{'attr':{'class':'btn btn-success'}} )}}

                    </div>
                    {{form_rest (formCategory)}}


                </form>
                {{ form_end (formCategory)}}
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block extraScripts %}
<!-- bootstrap-wysiwyg -->
<script src="{{asset('back/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js')}}"></script>
<script src="{{asset('back/vendors/jquery.hotkeys/jquery.hotkeys.js')}}"></script>
<script src="{{asset('back/vendors/google-code-prettify/src/prettify.js')}}"></script>
<!-- jQuery Tags Input -->
<script src="{{asset('back/vendors/jquery.tagsinput/src/jquery.tagsinput.js')}}"></script>
<!-- Switchery -->
<script src="{{asset('back/vendors/switchery/dist/switchery.min.js')}}"></script>
<!-- Select2 -->
<script src="{{asset('back/vendors/select2/dist/js/select2.full.min.js')}}"></script>
<!-- Parsley -->
<script src="{{asset('back/vendors/parsleyjs/dist/parsley.min.js')}}"></script>
<!-- Autosize -->
<script src="{{asset('back/vendors/autosize/dist/autosize.min.js')}}"></script>
<!-- jQuery autocomplete -->
<script src="{{asset('back/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js')}}"></script>
<!-- starrr -->
<script src="{{asset('back/vendors/starrr/dist/starrr.js')}}"></script>


{% endblock %}