<!DOCTYPE html>

<title>Rewards index</title>

{% block body %}
    <h1>Rewards index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reward in rewards %}
            <tr>
                <td>{{ reward.id }}</td>
                <td>{{ reward.type }}</td>
                <td>{{ reward.quantity }}</td>
                <td>
                    <a href="{{ path('rewards_show', {'id': reward.id}) }}">show</a>
                    <a href="{{ path('rewards_edit', {'id': reward.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rewards_new') }}">Create new</a>
{% endblock %}
