<!DOCTYPE html>

<title>Tournaments index</title>

{% block body %}
    <h1>Tournaments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Decription</th>
                <th>TeamSize</th>
                <th>StartDate</th>
                <th>FinishDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.decription }}</td>
                <td>{{ tournament.teamSize }}</td>
                <td>{{ tournament.startDate ? tournament.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tournament.finishDate ? tournament.finishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tournaments_show', {'id': tournament.id}) }}">show</a>
                    <a href="{{ path('tournaments_edit', {'id': tournament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournaments_new') }}">Create new</a>
{% endblock %}
