{% extends 'backBase.html.twig' %}
{% block title %}New Game{% endblock %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">
{% endblock %}
{% block content %}
    <div class="col-md-12 col-sm-12 " style="margin-top: 20px;">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Game</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 20px;">
                        <div class="gameImage"
                             style="margin-bottom: 10px;display:none;width: 150px;height: 200px;background-size: cover;background-position: center;'background-image:'{{ absolute_url(asset("/games/images/upload.png")) }}'"></div>
                        <img class='defaultImage' style="width: 200px;margin-bottom: 10px;"
                             src="{{ asset("games/images/upload.png") }}">
                        <div class="col-md-6 col-sm-6 ">
                            {{ form_widget(form.image,{'attr': {'class': 'form-control input-file'}}) }}
                        </div>
                        <div class="error-div">
                            {{ form_errors(form.image) }}
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.name,null,{'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'}}) }}
                        <div class="col-md-6 col-sm-6 ">
                            {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="error-div" style="display: flex;justify-content: center;align-items: center;">
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="item form-group">
                        {{ form_label(form.description,null,{'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'}}) }}
                        <div class="col-md-6 col-sm-6 ">
                            {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="error-div" style="display: flex;justify-content: center;align-items: center;">
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3" style="display: flex">
                            <a class="btn btn-primary" href="{{ path("gamesAdmin") }}">Cancel</a>
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.editorConfig = function (config) {
            // misc options
            config.height = '350px';
        };
        ClassicEditor
            .create(document.querySelector('#game_description'), {
                    removePlugins: ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed']
                }
            )
            .catch(error => {
                console.error(error);
            });
    </script>

{% endblock %}