{% extends 'frontBase.html.twig' %}
{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">{% endblock %}
{% block title %}{{ game.name }}{% endblock %}

{% block content %}
    <!-- banner-section start -->
    <section id="banner-section" class="inner-banner">
        <div class="ani-img">
            <img class="img-1" src="{{ asset('front/images/banner-circle-1.png') }}" alt="icon">
            <img class="img-2" src="{{ asset('front/images/banner-circle-2.png') }}" alt="icon">
            <img class="img-3" src="{{ asset('front/images/banner-circle-2.png') }}" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6" style="width: 800px;max-width: 100%;">
                        <div class="main-content" style="width: 800px;">
                            <h1>{{ game.name }}</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="{{ path("home") }}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path("games") }}">Games</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->

    <!-- Game start -->
    <section id="about-us-section">
        <div class="overlay pt-120">
            <div class="container wow fadeInUp">
                <div class="main-container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="section-header text-center">
                                <h2 class="title">{{ game.name }}</h2>
                                <div><img style="width: 390px;height: 500px;margin-bottom: 40px;border: 10px;border-radius: 20px;"
                                          src="{{ '../games/images'~asset(game.image) }}" alt="image"></div>
                                <p>{{ game.description }}</p>
                                {% if user.username in game.users %}
                                    <a href="{{ path('unfollowGame', {"id":game.id}) }}"
                                       class="cmn-btn">Unfollow</a>
                                {% else %}
                                    <a href="{{ path('followGame', {"id":game.id}) }}"
                                       class="cmn-btn">Follow</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Game end -->
{% endblock %}
