{% extends 'authBase.html.twig ' %}
{% block title %}Register Session{% endblock %}

{% block auth %}
    <h4>Let's get started</h4>
    <div class="form-area">
        {% if formsession is defined %}
            {{ form_start(formsession,{'attr':{'novalidate':'novalidate'}}) }}
            <h5>{{ coach.user.username }}</h5>

            <div class="form-group">
                {{ form_label(formsession.prix,'Price') }}
                {{ form_widget(formsession.prix) }}
                {{ form_errors(formsession.prix) }}
            </div>

            <div class="form-group">
                {{ form_label(formsession.description) }}
                {{ form_widget(formsession.description) }}
                {{ form_errors(formsession.description) }}
            </div>

            <div class="form-group">
                {{ form_label(formsession.user,'User Will Be Coached') }}
                {{ form_widget(formsession.user) }}
            </div>

            <div class="form-group" style="margin-top:13%">
                {{ form_label(formsession.date_debut,'Start Session') }}
                {{ form_widget(formsession.date_debut) }}
                {{ form_errors(formsession.date_debut) }}
            </div>

            <div class="form-group">
                {{ form_label(formsession.date_fin,'End Session') }}
                {{ form_widget(formsession.date_fin) }}
                {{ form_errors(formsession.date_fin) }}
            </div>

            <div class="form-group">
                {{ form_label(formsession.background_color) }}
                {{ form_widget(formsession.background_color) }}
            </div>

            <div class="form-group">
                {{ form_label(formsession.border_color) }}
                {{ form_widget(formsession.border_color) }}
            </div>


            <div class="form-group">
                {{ form_row(formsession.Submit) }}
            </div>

            {{ form_rest(formsession) }}
            {{ form_end(formsession) }}
        {% endif %}
        <a href="{{ path('sessioncoaching_index') }}">back to Session list</a>
    </div>

{% endblock %}
