<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{asset('back/images/logo.png')}}" />

  <title>GamersHub | {% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="{{asset('back/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <!-- NProgress -->
  <link href="{{asset('back/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{{asset('back/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="{{asset('back/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{{asset('back/vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="{{asset('back/vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{{asset('back/build/css/custom.min.css')}}" rel="stylesheet">
  {% block extraStyle %}
  {% endblock %}
</head>

<body class="nav-md" style="overflow: auto;">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col" style="top: 0;bottom: 0;position: fixed;overflow-y: scroll;overflow-x: hidden;">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;margin-left: 10px;">
            <a href="{{ path("admin") }}" class="site_title"> <img src="{{asset('back/images/logo.png')}}"> <span>Gaming
                Hub</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="https://avatars.dicebear.com/api/bottts/{{ user.username }}.svg" style="background: transparent;" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{ user.username }}</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->


          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a><i class="fa fa-solid fa-chart-line"></i> Dashboard </a></li>
                <li><a href="{{ path("showUsers") }}"><i class="fa fa-solid fa-user"></i> User </a></li>
                <li><a href="{{ path("gamesAdmin") }}"><i class="fa fa-solid fa-gamepad"></i> Games </a></li>
                <li><a href="{{ path("missionsAdmin") }}"><i class="fa fa-list-ul"></i> Missions </a></li>
                <li><a><i class="fa fa-gavel"></i> Matchs </a></li>
                <li><a><i class="fa fa-users"></i> Teams </a></li>

                <li><a><i class="fa fa-trophy"></i>Tournaments<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{{ path('backTournaments')}}">Tournaments</a></li>
                    <li><a href="{{ path('rewards_new')}}">Rewards</a></li>
                    <li><a href="{{ path('showSubscribed')}}">Subscribed teams</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-puzzle-piece"></i>Recruitment<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Players</a></li>
                    <li><a href="#">Publication</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-shopping-cart"></i>Shop<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Orders</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-graduation-cap"></i>Coaching<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{{ path("showcoachs") }}">Coachs</a></li>
                    <li><a href="{{ path("showsession") }}">Coaching Sessions</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-bicycle"></i>Delivery<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{{ path("livreur_index") }}">Delivery Man</a></li>
                    <li><a href="{{ path("livraison_index") }}">Delivery</a></li>
                  </ul>
                </li>
                <li><a href="{{ path("home") }}">USER SITE</a></li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu" style="position: fixed;z-index: 90;height: 55px;">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav" style="position: fixed;right: 0;">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                  data-toggle="dropdown" aria-expanded="false">
                  <img src="https://avatars.dicebear.com/api/bottts/{{ user.username }}.svg" alt="">{{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('profile') }}"> <i class="fa fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="{{ path("app_logout") }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                </div>
              </li>


            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main" style="padding-top: 55px;padding-left: 0;padding-right: 0;">
        {% block content %}{% endblock %}
      </div>

      <!-- /page content -->

      <!-- footer content -->
      <footer>

        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="{{asset('back/vendors/jquery/dist/jquery.min.js')}}"></script>
  <!-- Bootstrap -->
  <script src="{{asset('back/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!-- FastClick -->
  <script src="{{asset('back/vendors/fastclick/lib/fastclick.js')}}"></script>
  <!-- NProgress -->
  <script src="{{asset('back/vendors/nprogress/nprogress.js')}}"></script>
  <!-- Chart.js -->
  <script src="{{asset('back/vendors/Chart.js/dist/Chart.min.js')}}"></script>
  <!-- gauge.js -->
  <script src="{{asset('back/vendors/gauge.js/dist/gauge.min.js')}}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{{asset('back/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
  <!-- iCheck -->
  <script src="{{asset('back/vendors/iCheck/icheck.min.js')}}"></script>
  <!-- Skycons -->
  <script src="{{asset('back/vendors/skycons/skycons.js')}}"></script>
  <!-- Flot -->
  <script src="{{asset('back/vendors/Flot/jquery.flot.js')}}"></script>
  <script src="{{asset('back/vendors/Flot/jquery.flot.pie.js')}}"></script>
  <script src="{{asset('back/vendors/Flot/jquery.flot.time.js')}}"></script>
  <script src="{{asset('back/vendors/Flot/jquery.flot.stack.js')}}"></script>
  <script src="{{asset('back/vendors/Flot/jquery.flot.resize.js')}}"></script>
  <!-- Flot plugins -->
  <script src="{{asset('back/vendors/flot.orderbars/js/jquery.flot.orderBars.js')}}"></script>
  <script src="{{asset('back/vendors/flot-spline/js/jquery.flot.spline.min.js')}}"></script>
  <script src="{{asset('back/vendors/flot.curvedlines/curvedLines.js')}}"></script>
  <!-- DateJS -->
  <script src="{{asset('back/vendors/DateJS/build/date.js')}}"></script>
  <!-- JQVMap -->
  <script src="{{asset('back/vendors/jqvmap/dist/jquery.vmap.js')}}"></script>
  <script src="{{asset('back/vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
  <script src="{{asset('back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="{{asset('back/vendors/moment/min/moment.min.js')}}"></script>
  <script src="{{asset('back/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

  <!-- Custom Theme Scripts -->
  <script src="{{asset('back/build/js/custom.min.js')}}"></script>
  <!-- DataTables -->
  <script src="{{ asset('back/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ asset('back/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ asset("back/js/main.js") }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
{% block extraScripts %}{% endblock %}
</body>

</html>