{% extends 'authBase.html.twig ' %}

{% block title %}envoyer un mail{% endblock %}
{% block auth %}
    <h4>Send email</h4>
    <div class="form-area">
        {{ form_start(formail) }}
        <h5>
            {{ user.username }}
        </h5>

{#        <div class="form-group">#}
{#            {{ form_label(formail.email) }}#}
{#            {{ form_widget(formail.email) }}#}
{#        </div>#}

        <div class="form-group">
            {{ form_label(formail.message) }}
            {{ form_widget(formail.message) }}
        </div>

        <div class="form-group">
            {{ form_row(formail.Submit) }}
        </div>
        {{ form_end(formail) }}

        <a href="{{ path('coach_index') }}">back to Coachs list</a>
    </div>

{% endblock %}
