{% extends 'frontBase.html.twig' %}
{% block title %}CheckOUt{% endblock %}
{% block content %}
<!-- banner-section start -->
<section id="banner-section" class="inner-banner profile features shop">
    <div class="ani-img">
        <img class="img-1" src="{{asset('front/images/banner-circle-1.png')}}" alt="icon">
        <img class="img-2" src="{{asset('front/images/banner-circle-2.png')}}" alt="icon">
        <img class="img-3" src="{{asset('front/images/banner-circle-2.png')}}" alt="icon">
    </div>
    <div class="banner-content d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main-content">
                        <h1>Checkout Page</h1>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb d-flex justify-content-center">
                                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">checkout </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- Error Start -->
<section id="error-section">
    <div class="overlay pb-120 pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="main-content pt-120 pb-120 text-center">
                        <h3>Whoops..</h3>
                        <h5 style="display: flex;justify-content: center;">your paiment
                            <div style="color: red;margin-left:0.3em;">wasn't successful</div>
                        </h5>
                        <div style="display: flex;justify-content: center;margin-bottom:3em;">
                            <div>
                                <h6> You only have </h6>
                                <h4 style="color:aqua;">{{coins}} Coins</h4>
                            </div>
                            <div style="margin-left: 2em;">
                                <h6>And your order was </h6>
                                <h4 style="color:aqua;">{{totalPrice}} Coins</h4>
                            </div>
                        </div>
                        <!--
                            add here the path where he can get more coins from 
                        -->
                        <a href="#" class="cmn-btn">Get More Coins Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Error End -->

{% endblock %}