{% extends 'backBase.html.twig' %}
{% block title %}Matchs Update{% endblock %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">
{% endblock %}
{% block content %}
  <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
        <div class="x_panel">
            <div class="x_title">
                <h2>MATCHS TABLE</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br/>
                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                    <div class="item form-group">
                        {{ form_label(form.match_date,null,{'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'}}) }}
                        <div class="col-md-6 col-sm-6 ">
                            {{ form_widget(form.match_date,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="error-div">
                            {{ form_errors(form.match_date) }}
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.result,null,{'label_attr': {'class': 'col-form-label col-md-3 col-sm-3 label-align'}}) }}
                        <div class="col-md-6 col-sm-6 ">
                            {{ form_widget(form.result,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="error-div">
                            {{ form_errors(form.result) }}
                        </div>
                    </div>
                    
                   
                    {% if error is defined %}
                        <div style="display: flex;justify-content: center;align-items: center;color: #d20808;">{{ error }}</div>
                    {% endif %}
                   <div class="form-group">
                                <button type="update" class="cmn-btn" href="MatchsBack.html.twig">Update Match</button> 
                
                                </div>
                   
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


