<!DOCTYPE html>

<title>Subscribe</title>

{% block body %}
    <h1>Subscribe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subscribe.id }}</td>
            </tr>
            <tr>
                <th>TeamName</th>
                <td>{{ subscribe.teamName }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ subscribe.size }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_subscribe_index') }}">back to list</a>

    <a href="{{ path('app_subscribe_edit', {'id': subscribe.id}) }}">edit</a>

    {{ include('subscribe/_delete_form.html.twig') }}
{% endblock %}
