{% extends 'frontBase.html.twig' %}
{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">{% endblock %}
{% block title %}Update Profile{% endblock %}

{% block content %}
    <section id="banner-section" style="margin-bottom: -150px;" class="inner-banner profile">
        <div class="ani-img">
            <img class="img-1" src="{{ asset("front/images/banner-circle-1.png") }}" alt="icon">
            <img class="img-2" src="{{ asset("front/images/banner-circle-2.png") }}" alt="icon">
            <img class="img-3" src="{{ asset("front/images/banner-circle-2.png") }}" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main-content" style="width: max-content;">
                            <h1>UPDATE PROFILE</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="{{ path("home") }}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path("profile") }}">Profile</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-section" class="pb-120">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col align-self-center">
                        {% if updateForm is defined %}
                            {{ form_start(updateForm,{'attr':{'novalidate':'novalidate'}}) }}
                            <div>
                                <div class="form-group" style="display: none">
                                    {{ form_label(updateForm.username) }}
                                    {{ form_widget(updateForm.username) }}
                                    <div class="error-div">
                                        {{ form_errors(updateForm.username) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                     {{ form_label(updateForm.name) }}
                                     {{ form_widget(updateForm.name) }}
                                    <div class="error-div">
                                        {{ form_errors(updateForm.name) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                     {{ form_label(updateForm.secondName) }}
                                     {{ form_widget(updateForm.secondName) }}
                                    <div class="error-div">
                                        {{ form_errors(updateForm.secondName) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                     {{ form_label(updateForm.email) }}
                                     {{ form_widget(updateForm.email) }}
                                    <div class="error-div">
                                        {{ form_errors(updateForm.email) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(updateForm.birthDate) }}
                                    {{ form_widget(updateForm.birthDate) }}
                                </div>
                                <div class="form-group">
                                     {{ form_label(updateForm.oldPassword) }}
                                     {{ form_widget(updateForm.oldPassword) }}
                                </div>
                                {% if error is defined %}
                                    <p style="color: #ff8c8c;margin:20px;">
                                        {{ error }}
                                    </p>
                                {% endif %}
                                {{ form_row(updateForm.Update) }}
                            </div>
                            {{ form_end(updateForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
