{% extends 'frontBase.html.twig' %}
{% block extraStyle %}
    <link rel="stylesheet" href="{{ asset("front/css/extraStyle.css") }}">{% endblock %}
{% block title %}Update Password{% endblock %}

{% block content %}
    <section id="banner-section" style="margin-bottom: -150px;" class="inner-banner profile">
        <div class="ani-img">
            <img class="img-1" src="{{ asset("front/images/banner-circle-1.png") }}" alt="icon">
            <img class="img-2" src="{{ asset("front/images/banner-circle-2.png") }}" alt="icon">
            <img class="img-3" src="{{ asset("front/images/banner-circle-2.png") }}" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6" style="width: 800px;max-width: 100%;">
                        <div class="main-content" style="width: 800px;">
                            <h1>UPDATE PASSWORD</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="{{ path("home") }}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path("profile") }}">Profile</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Update Password</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-section" class="pb-120">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col align-self-center">
                        {% if updatePassForm is defined %}
                            {{ form_start(updatePassForm) }}

                                <div class="form-group">
                                    {{ form_label(updatePassForm.password.first) }}
                                    {{ form_widget(updatePassForm.password.first) }}
                                    <div class="error-div">
                                        {{ form_errors(updatePassForm.password.first) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(updatePassForm.password.second) }}
                                    {{ form_widget(updatePassForm.password.second) }}
                                    <div class="error-div">
                                        {{ form_errors(updatePassForm.password.second) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(updatePassForm.oldPassword) }}
                                    {{ form_widget(updatePassForm.oldPassword) }}
                                </div>
                                {% if error is defined %}
                                    <p style="color: #ff8c8c;margin:5px;">
                                        {{ error }}
                                    </p>
                                {% endif %}
                                {{ form_row(updatePassForm.Update) }}
                            {{ form_end(updatePassForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
