{% extends 'backBase.html.twig' %}
{% block title %}Profiles{% endblock %}
{% block extraStyle %}
    <link href="{{ asset('back/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('back/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">{% endblock %}
{% block content %}
    <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
        <div class="x_panel">
            <div class="x_title">
                <h2>USERS TABLE</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Second Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Birthdate</th>
                                    <th>Is Enabled</th>
                                    <th>Coins</th>
                                    <th>Is Verified</th>
                                    <th>Created At</th>
                                    <th>Last Update</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if(usersList is not null) %}
                                    {% for usr in usersList %}
                                        <tr>
                                            <td>{{ usr.id }}</td>
                                            <td>{{ usr.username }}</td>
                                            <td>{{ usr.name }}</td>
                                            <td>{{ usr.secondName }}</td>
                                            <td>{{ usr.email }}</td>
                                            <td>{{ usr.roles | join('') }}</td>
                                            <td>{{ usr.birthDate | date('d/m/Y') }}</td>
                                            <td>{{ usr.isEnabled ? 'True' : 'False' }}</td>
                                            <td>{{ usr.coins }}</td>
                                            <td>{{ usr.isVerified ? 'True' : 'False' }}</td>
                                            <td>{{ usr.createdAt | date }}</td>
                                            <td>{{ usr.lastUpdated | date }}</td>
                                            <td>
                                                <a href="{{ path("deleteUser", {'id': usr.id}) }}"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ path("deleteUser", {'id': usr.id}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScripts %}
    <script src="{{ asset('back/vendors/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('back/vendors/nprogress/nprogress.js') }}"></script>
    <script src="{{ asset('back/vendors/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('back/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('back/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('back/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('back/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('back/build/js/custom.min.js') }}"></script>
{% endblock %}

